@import '~style/helpers';
//for whole body
.container {
	display: flex;
	flex-direction: column;
	background: #2561A0; //#2561A0
	overflow: auto;
	color: #fff;
	width: 414px; //414px
	height: 100vh; //736px
	text-align: center;
	padding-top: 1em;
	margin: 0 auto;
	padding-bottom: 5em;
	user-select: none;
	transition: all 0.4s;
}

.container::-webkit-scrollbar {
	display: none;
}

//for main section of the weather where the current weather right now is shown
.header {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
}

.hourlyForcastContainer {
	overflow-x: auto;
	width: 20em;
	margin: auto;
	transition: all 0.5s;
}

//apply shadow to indicate more clearly that its usable
.hourlyForcastContainer:hover {
	cursor: auto;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

//doesn't show sideways scroll bar
.hourlyForcastContainer::-webkit-scrollbar {
	display: none;
}

.hourlyForcast {
	border-collapse: collapse;
}

.hourlyForcast_td {
	padding: 0.25em 1em 0.25em 1em;
	text-align: center;
}

.hourlyForcastIcons {
	width: 50px;
	height: 50px;
}

// between hourlyForcast component and the rest of the header
.hr {
	border: 0.5px solid white;
	width: 20em;
}

//for tr elements in the weekly section
.weekly_tr {
	border-bottom: 1px solid white;
	height: 2em;
}

//for weeklyforcast
.details {
	border-collapse: collapse;
	width: 20em;
	margin: auto;
}

.city {
	font-size: 1.7em;
	font-weight: 700;
	margin-top: 0.5em;
}

.conditions {
	font-size: 1em;
	font-weight: lighter;
}

.temperature {
	flex: 2;
	font-size: 3em;
	font-weight: 200;
	margin-top: 0;
	letter-spacing: 0px;
}

.maxMinTemperature {
	border-collapse: collapse;
	width: 10em;
	margin: auto;
}

//css for buttons at the bottom
.footer {
	background: inherit;
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 414px;
	bottom: 0px;
	padding: 0.5em;
	justify-content: space-around;
	border-top: 1px solid white;
}

.mainIcon {
	width: 100px;
	height: 100px;
	margin: auto;
}

.icons {
	max-height: auto;
	width: 2.5em;
}

//css for the body of the settingsPage
.settingsTable {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

//The box on the toggle switches
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.25);
	;
	border-radius: 0.5em;
	-webkit-transition: .4s;
	transition: .4s;
}

//Box before inputbox is checked
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 0.5em;
}

//body of toggleswitch after inputbox is checked
input:checked+.slider {
	background-color: rgb(12, 206, 12);
}

//translation of slider box
input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.settings {
	background: inherit;
	border: 0px;
}

.settingButton {
	width: 50px;
	height: 50px;
	transition: 0.4s;
}

.settingButton:hover {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

//for error input message
.error {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 0.2em;
	margin-left: 0.3em;
	margin-right: 0.3em;
	margin-bottom: 0.3em;
	transition: all 0.5s;
	font-size: 3em;
}

//container of both text area and button for the search bar
.searchContainer {
	width: 275px;
	max-height: 3em;
	background: rgba(255, 255, 255, 0.25);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;

}

.textArea {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	margin-top: 20px;
	padding: 20px 20px;
	font-size: 20px;
	color: #cac7ff;
	resize: vertical;
}

.searchContainer button img {
	width: 25px;

}

.searchContainer button {
	border: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: -15px;
	background: rgba(255, 255, 255, 0);
	cursor: pointer;
}

//for warning component
.warning {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 1em;
}

// for header of warning component
.warningTitle {
	margin: 0px;
}

.AdvancedInfoButton {
	margin-top: 1.5em;
	width: 3em;
	transition: all 0.4s;
}

.AdvancedInfoButton:hover {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.AdvancedInfoPage {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

//used to create boxes with dynamic size to fit the screen better
.AdvancedInfoPageWidget {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 0.5em;
	margin: 1em;
	padding: 1em;
	flex-grow: 4;
}

//used for titles that need more room
.AdvancedInfoPageTitles {
	font-size: large;
	padding-bottom: 1em;
}